.debug(@mtext, @mcolor){
	&:after{
		.well();
		border-radius: 0;
		border: none;
		background-color:@mcolor;
		color:#FFF;
		content:@mtext;
		line-height:1em;
		left:0;
		position:fixed;
		bottom:0;
		width: 150px;
		padding: 5px;
		margin-bottom: 0;
		text-align: center;
	}
}
body {
	.debug('Mobile', @brand-info);
}
@media (min-width: @screen-xs) {
	body {
		.debug('Extra small', @brand-success);
	}
}
@media (min-width: @screen-sm) {
	body{
		.debug('Small', @brand-primary);
	}
}
@media (min-width: @screen-md) {
	body{
		.debug('Medium', @brand-warning);
	}
}
@media (min-width: @screen-lg) {
	body{
		.debug('Large', @brand-danger);
	}
}
